{% extends 'resource/main.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="text-center mt-4">
    <h3 class="display-4 mb-4"><small>Add videos to {{source.title}}</small></h3>
    <hr>
    <div class="row">
        <div class="col-md-5  mb-4">
            <h2>Add Video URL</h2>
            <form action="" method="POST" id="submit_video">
                {% csrf_token %}

                <div class="form-group {% if field.errors %} alert alert-danger {% endif %}">

                    {{form|crispy }}

                </div>

                <button type="submit" class="btn btn-success">Smash</button>
            </form>
        </div>
        <div class="col-md-5 mb-4">
            <h2>OR Search Resource</h2>
            <form action="" method="POST">
                {{search |crispy}}
            </form>
        </div>
    </div>
</div>
<div id="search_results">



</div>

{% endblock %}