{% extends 'resource/main.html' %}
{% block content %}

<h3>Add videos to {{source.title}}</h3>

<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group {% if field.errors %} alert alert-danger {% endif %}">

        {{field.errors}}
        {{field.label_tag}}
        {{field}}

    </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Smash</button>
</form>
<h2>OR Search Resource</h2>
<form action="" method="POST">
    {{search}}
</form>

<div id="search_results">


</div>

{% endblock %}